{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Items</title>
    <link rel="stylesheet" href="{% static 'css/items.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="table-container">
        Add your items into the table by typing the item and price values into
        the bottom row and pressing the add button when you're done.
        <br />
        <br />
        <table id="items-table" border="1">
          <thead>
            <tr>
              <th>Item</th>
              <th>Price (£)</th>
            </tr>
          </thead>
          <tbody>
            {% for item in user_items %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td contenteditable="true" id="new-item-name"></td>
              <td contenteditable="true" id="new-item-price"></td>
              <td><button onclick="addItem()">+</button></td>
            </tr>
          </tbody>
        </table>
        <button class="summary" id="sum-btn" onclick="calculateSum()">
          Summary
        </button>
      </div>

      <div class="result-container hidden" id="sum-result">
        <p>Total Cost: £<span id="total-cost"></span></p>
        <button class="back" onclick="toggleView()">Back</button>
      </div>
    </div>
    <script>
      function addItem() {
        var itemName = document.getElementById("new-item-name").innerText;
        var itemPrice = document.getElementById("new-item-price").innerText;

        // validate that both name and price are provided
        if (itemName.trim() && itemPrice.trim()) {
          // send a request to the backend to add the new item
          fetch('{% url "add_item" %}', {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({
              name: itemName,
              price: itemPrice,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              // check if the item was added successfully
              if (data.success) {
                // reload the page to reflect the changes
                window.location.reload();
              } else {
                alert("Failed to add the item. Please try again.");
              }
            });
        } else {
          alert("Please provide both item name and price.");
        }
      }
    </script>

    <script>
      function calculateSum() {
        // make a post request to the backend to calculate the sum of user's items
        fetch('{% url "calculate_sum" %}')
          .then((response) => response.json())
          .then((data) => {
            if (data.total_cost !== undefined) {
              // update total cost element with calculation from the backend
              document.getElementById("total-cost").innerText = data.total_cost;
              toggleView();
            } else {
              alert("Failed to calculate the sum. Please try again.");
            }
          });
      }

      function toggleView() {
        document.querySelector(".table-container").classList.toggle("hidden");
        document.querySelector(".result-container").classList.toggle("hidden");
      }
    </script>
  </body>
</html>
